body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed; /* Encabezado fijo */
    top: 0;
    width: 98%;
    z-index: 1000;
}

h1 {
    margin: 0;
    animation: spin 4s infinite; /* Animación de giro */
}
main {
    padding: 100px;
    text-align: center;
}

#logo {
    height: 30px;
    animation: spin 4s infinite; /* Animación de giro */
}

nav {
    
    margin-top: 10px; /* Espacio para el encabezado fijo */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: rgb(16, 16, 16);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


#instrucciones, #juego {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#entrada, button {
    padding: 15px 20px;
    font-size: 17px;
    margin-top: 15px;
    
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5%;
}

button:hover {
    background-color: #45a049;
}

input {
    font-size: 18px;
    margin-bottom: 10px;
}





footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
     }

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
